
.chart-block{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr; 
    grid-template-rows: .1fr .25fr 1fr 1fr 1fr 1fr 1.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: 
    "nav nav nav nav nav nav nav"
    " . header header header header header header "
    ". standard standard standard standard standard ."
    ". standard standard standard standard standard ."
    ". voiced voiced voiced voiced voiced ."
    ". slides slides slides slides slides ."
    ". slides slides slides slides slides ."; 
}

.card-block {
    display: grid; 
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr; 
    grid-template-rows: .1fr .25fr 1fr 1fr .25fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "nav nav nav nav nav nav nav"
      ". header header header header header header"
      ". cards cards cards cards cards ."
      ". cards cards cards cards cards ." 
      ". controls controls controls controls controls .";
}

#flashcards{
    grid-area: cards;
}

.controls{
    grid-area: controls;
    padding: 0 7% 0 7%
}

h1{
    margin: 0 auto 1em auto;
}

nav{
    grid-area: nav;
}

.page-header{
    grid-area: header;
}

.ico-kana-box{
    border: 1px solid #f17d32;
    width: 50px;
    display: inline-block;
}

td img {
    height: 4em;
    margin: auto;
    cursor: pointer;
}

.chart{
    display: flex;
    justify-items: center;
    align-items: center;
}

table {
    width: 100%;
    margin-bottom: 3%;
    grid-area: table;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

tbody{
    width: 100%;
}

td {
    border: 2px solid black;
    text-align: center;
}

.modal-body {
    text-align: center;
}


.carousel-slide{
    max-height: 720px;
}

.carousel-inner{
    height: 540px;
}

.carousel-item{
    height: 100%;
}
.flip-card{
    text-align: center;
    font-size: 50px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin: auto;
    perspective: 1000px;
    display: flex;
    font-family: 'Noto Sans JP', sans-serif;
}

.flip-card p{
    margin: auto;
}

.flip-card-back p{
    transform: rotateZ(180deg);
}

.flip-card-inner{
    position: relative;
    width: 13em;
    height: 7.3em;
    max-width: 80%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin: auto;
}

.flip-card:hover .flip-card-inner{
    transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
    display: flex;
}
  
  /* Style the back side */
.flip-card-back {
    background-color: #bbb;
    color: black;
    transform: rotateY(180deg);
    display: flex;
}

.play {
    color: green;
}

.ico-audio {
    color: black;
    cursor: pointer;
}

#standard{
    grid-area: standard;
}

#standard td {
    border: 2px solid #f17d32;
}

#voiced{
    grid-area: voiced;
}

#slides{
    grid-area: slides;
}

#slides tbody{
    width: 60%;
    display: table;
}

footer{
    text-align: right;
    padding: 1em 2em 0 2em;
}